<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agba.closfy"
    android:installLocation="preferExternal"
    android:versionCode="19"
    android:versionName="1.1.8" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:windowSoftInputMode="stateAlwaysHidden" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.agba.closfy.activities.CargandoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.agba.closfy.activities.ClosfyActivity"
            android:icon="@drawable/icon_app"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.ConfiguracionInicialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.ResumenLookMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.EditarResumenLookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.EditarResumenLookMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.SeleccionarLookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.EditarPrendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.PrendaBasicaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.AmpliarPrendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.AmpliarLookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.AmpliarInspiracionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.VerPrendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.VerLookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.EditarLookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name="com.agba.closfy.activities.PrimaveraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.OtonoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.InviernoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.VeranoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.AddUtilidadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.EditUtilidadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.SelectTemporadaActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".activities.SelectCuentaActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".activities.EditCuentaActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.agba.closfy.activities.AddNotasActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.agba.closfy.activities.InspiracionesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaMujer1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaMujer2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaMujer3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaMujer4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaMujer5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaHombre1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaHombre2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.MorfologiaHombre3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.TarifasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.ComoFuncionaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.TerminosCondicionesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.CuentasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.agba.closfy.activities.QueMePongoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" 
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="com.agba.closfy.activities.AddCuentaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />
        <activity
            android:name=".activities.AddPrendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />

        <activity
            android:name="com.agba.closfy.activities.CrearLookPrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />

        <activity
            android:name="com.agba.closfy.activities.NuevoEditCuentaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />

        <activity
            android:name="com.agba.closfy.activities.EditPrendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />

        <activity
            android:name="com.agba.closfy.activities.NuevoAmpliarLookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateUnchanged|adjustUnspecified" />


        <!-- Publicidad -->

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:screenOrientation="portrait" />
    </application>

</manifest>